div#menu {
    margin-top: 5px;
    background: url("../images/menuBg.gif") repeat-x scroll 0 0 transparent;
    border: 1px solid #5087A6;
    height: 35px;
    -moz-border-radius: 3px 3px 3px 3px;
    z-index: 9998;
    font-family: Arial,Helvetica,sans-serif;
}
